.card {
    max-width: 100%;
    height: clamp(250px, 40vw, 350px);
    border-radius: 10px;
    box-shadow: 0 0 10px #00FFD4;
    position: relative;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:  center top;
    border-radius: 10px;
}
.card__hover {
    background-color: #264653;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
}
.card__title__container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.card__title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: clamp(14px, 3vw, 16px);
}
.card__div__span {
    align-self: flex-end;
    margin-bottom: 23px;
    font-weight: 700;
    margin-right:  clamp(15px, 3vw, 60px);
}
.card__span{
    color: white;
    font-size: 16px;
}
.card__span__arrow {
  width: 16px;
  height: 16px;
}
.card__hover:hover .card__div__span{
    animation: slide 350ms ease-in-out;
}
.card__hover:hover .card__title__container {
    animation: shake 200ms ease-in-out;
    animation-iteration-count: 2;
}

.card__hover:hover {
    opacity: 0.9;
}

/* Animations */
@keyframes slide {
    0% {
     transform: translateX(100%);
     opacity: 0;
    }
    100% {
     transform: translateY(0);
     opacity: 1;
    } 
 }
 
 @keyframes shake {
     25% {
         transform: translateX(1%);
     }
     75% {
         transform: translateX(-1%);
     }
 }