header {
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 9999; */
    z-index: 1;
}
.container__close {
    height: 60px;
    background-color: #28292E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6.5%;
    padding-left: 4%;
}
.container__close  .header__title,
.container__open  .header__title {
    font-size: clamp(24px, 4vw, 32px);
}
.container__open {
    height: 60px;
    background-color: #28292E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7%;
    padding-left: 4%;
    border-bottom: 1px solid #00FFD4;
}
.btn__menu {
    cursor: pointer;
}
.btn__nav__close {
    cursor: pointer;
    color: white;
    z-index: 1;
    background-color: initial;
    border: none;
}
.btn__nav__close p {
    font-size: 20px;
    font-weight: bold;
}
.navigation {
    align-self: flex-start;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 5%;
    padding: 70px 100px;
    background-color: #28292E;
    border-radius: 0 0 10px 10px;
}
.nav__link {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.nav__link:after {
    display: block;
    content: '';
    border-bottom: 3px solid #00FFD4;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 300ms cubic-bezier(.95,.1,.01,.78);
}
.nav__link:hover:after {
    transform: scaleX(1);
}
/* .nav__link:hover {
    border-bottom: 3px solid #00FFD4;
}  */


@media screen and (max-width: 768px) {
    .container__open {
        align-items: center;
        z-index: 1;
    }
    .navigation {
        right: auto;  
        align-self: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
        width: 100%;
        height: 100vh;
    }
    .navigation .nav__link {
        margin-bottom: 15px;
    }
}
