.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #264653;
    border-bottom: 4px solid #00FFD4;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    min-height: clamp(455px, 50vw, 600px); 
}
.intro__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.intro__title {
    font-size: clamp(24px, 3vw, 50px);
    color: white;
}
.intro__container__span {
    display: flex;
    width: max-content;
}
.intro__word {
    /* font-family: IBM Plex Mono, monospace; */
    color: #00FFD4;
    width: max-content;
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: typing 3s steps(20) 1s;
}
.hand {
    padding-left: 10px;
    animation: hand 2s infinite;
    transform-origin: 70% 70%;
}
.myName {
    color: #00FFD4;
}
.intro__div__img {
    width: clamp(180px, 18vw, 300px);
    height: clamp(180px, 18vw, 300px);
    border-radius: 50%;
}
.intro__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

/* Propos */
.propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.propos__title {
    font-size: clamp(28px, 3vw, 40px);
    color: #264653;
    margin: 55px 0;
}
.propos__div {
    max-width: 1200px;
    color: white;
    padding: 0 50px;
}
.propos__div__paragraphe {
    font-size: clamp(18px, 2vw, 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    background-color: #264653;
    padding: 86px 123px;  
}
.propos__div__paragraphe b {
    color: #00FFD4;
}

/* Compétences */
.skills {
    display: flex;
    flex-direction: column;
    background-color: #264653;
    padding: 0 50px;
    
}
.skills__title {
    align-self: center;
    margin: 57px 0 64px 0;
    color: white;
    font-size: clamp(28px, 4vw, 40px);
}
.skills__container__aside {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.skills__collapse {
    width: 100%;
    max-width: 400px; 
}
.skills__collapse li {
    color: #264653;
    list-style-type: none;
    font-size: 18px;
}
.skills__collapse:nth-child(2) {
    padding: 0 30px;
}
.skills__container__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.skills__container__logo img{
    height: clamp(48px, 10vw, 102px);
}


/* Animations */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes hand {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 991px) {
    .skills__container__aside {
        flex-direction: column;
        align-items: center;
    }
    .skills__collapse:nth-child(2) {
        padding: 0;
        margin: 45px 0;
    }
    .skills__collapse {
        max-width: none;
    }
    /* Propos */
    .propos__div__paragraphe {
        background-color: white;
        padding: 0;
        box-shadow: none;
    }
}

@media screen and (max-width: 767px) {
    .skills {
        padding: 0 12px;
    }
    .intro__div {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 64px;
    }
    .intro__title {
        margin-top: 130px;
        margin-bottom: 50px;
    }
}

