.projetsDiv {
    min-height: clamp(210px, 50vw, 360px); 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F9F6E7;
    margin-top: 60px;
}
.projetsDiv__title {
    font-size: clamp(24px, 5vw, 50px);
    color: #264653;
}
.containerProjets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #264653;
    padding: 0 50px;
}
.containerProjets__div {
    width: 100%;
    max-width: 1400px;
    background: #F9F6E7;
    margin: 90px 0;
    border-radius: 25px;

}
.containerProjets__div__grid {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 40px;
}

@media screen and (max-width: 991px) {
    .containerProjets__div__grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
   
    .containerProjets {
        padding: 0 12px;
    }
    .containerProjets__div {
        margin-top: 42px;
        margin-bottom: 85px;
    }
    .containerProjets__div__grid {
        grid-template-columns: 1fr;
        padding: 24px 7px;
        gap: 20px;
    }
}